services:
  app:
    build: .
    # container_name: next_app
    restart: always
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: ${DATABASE_URL}
      JWT_SECRET: ${JWT_SECRET}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      SPACES_KEY: ${SPACES_KEY}
      SPACES_SECRET: ${SPACES_SECRET}
      SPACES_BUCKET: ${SPACES_BUCKET}
      SPACES_ENDPOINT: ${SPACES_ENDPOINT}
      SPACES_REGION: ${SPACES_REGION}
      # NODE_ENV: development
    depends_on:
      - db
    volumes:
      - .:/app
      # - /app/node_modules
      - uploads_data:/app/uploads
      - /var/run/docker.sock:/var/run/docker.sock  # Mount Docker socket
    command: npm run dev


  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    command: ["postgres", "-c", "listen_addresses=*", "-c", "password_encryption=md5"]
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
  uploads_data:
